{% extends '@AlFFTT/commun/base.html.twig' %}

{% block content %}
    <div class="row">
        <h1>Choix du joueur</h1>
        <ul>
            {% for joueur in joueurs %}
                <li>
                    <a href="{{ path('adversaire.details', { id: joueur.licence }) }}">
                        {{ formatPlayerName(joueur.nom, joueur.prenom) }}
                    </a> <br />
                    <i>{{ joueur.clubId }} - </i>{{ joueur.club }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        li{
            padding-bottom: 10px;
        }
    </style>
{% endblock %}

