<span class="points positif" data-toggle="tooltip" data-placement="bottom" title="Points gagnés en cas de victoire" style="cursor: pointer">{{ pointsVictoire }}</span>
<span class="points negatif" data-toggle="tooltip" data-placement="bottom" title="Points perdus en cas de defaite" style="cursor: pointer">{{ pointsDefaite }}</span>