{% extends '@AlFFTT/commun/base.html.twig' %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}
    <h1>Rechercher un joueur</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Rechercher"
    class="btn btn-default" />
    {{ form_end(form) }}

{% endblock %}


