{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
        <h1>{{ joueur.prenom ~' '~ joueur.nom }}</h1>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6 text-center text-uppercase">
                    <span class="points">{{ ((matchStats.totalVictoire *100 ) /matchStats.totalStats) |round(1, 'floor')}}%</span>  <span>({{ matchStats.totalVictoire ~ "/" ~ matchStats.totalStats}})</span>
                    <p>Matchs gagnés</p>
                </div>

                <div class="col-sm-6 text-center text-uppercase">
                    <span class="points">{{ matchStats.moyenneParMatch |round(1, 'floor')}}</span> pts
                    <p>Moyenne par match</p>
                </div>
                <div class="col-sm-6 text-center text-uppercase">
                    {% set points = (matchStats.totalPointsVictoire + matchStats.totalPointsDefaite) |round(1, 'floor') %}
                    <span class="points">{{ points}}</span> pts
                    <p>Points {% if points >= 0 %} gagnés{% else %}perdus{% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div id="repartition"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset("bundles/alfftt/js/highchart.js") }}"></script>
    <script type="text/javascript">
        {{ chart(repartition) }}
    </script>
{% endblock %}