{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div id="details" class="col-sm-12">Chargement des details...</div>
        <div id="equipes" class="col-sm-12">Chargement des équipes...</div>
        <div id="joueursDiv" class="col-sm-12">Chargement des joueurs...</div>
    </div>
{% endblock %}


{% block javascript %}
    <script>

        $.ajax({
            url: "{{ path('adversaire.club.details', { 'id' : id }) }}"
        })
            .done(function( data ) {
                $("#details").html(data);
            });

        $.ajax({
            url: "{{ path('adversaire.club.joueurs', { 'id' : id }) }}"
        })
            .done(function( data ) {
                $("#joueursDiv").html(data);
                $("#joueurs").tablesorter({
                    sortList: [[2,1]]
                });
            });

        $.ajax({
            url: "{{ path('adversaire.club.equipes', { 'id' : id }) }}"
        })
            .done(function( data ) {
                $("#equipes").html(data);
            });

    </script>
{% endblock %}