<h1>Equipes</h1>
<ul>
    {% for equipe in equipes %}
        <li><a href="{{ path('club.equipe', { 'lienDivision' : equipe.lienDivision }) }}">{{ equipe.libelle }} <i>{{ equipe.division }}</i></a></li>
    {% endfor %}
</ul>