<h1>Joueurs</h1>
<table id="joueurs" class="tablesorter table table-striped table-hover">
    <thead>
    <tr>
        <th class="header">Nom</th>
        <th class="header">Prenom</th>
        <th class="header">Points</th>
        <th class="header">Licence</th>
    </tr>
    </thead>
    <tbody>
    {% for joueur in joueurs %}
        <tr>
            <td>
                <a href="{{ path('adversaire.details', { id : joueur.licence }) }}">
                    {{ joueur.nom }}
                </a>
            </td>
            <td>
                <a href="{{ path('adversaire.details', { id : joueur.licence }) }}">
                    {{ joueur.prenom }}
                </a>
            </td>
            <td>{{ joueur.points }}</td>
            <td>{{ joueur.licence }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>