{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ matchStats.equipeNom }}</h1>
        </div>

        <div class="col-sm-4 text-center text-uppercase">
            <span class="points">{{ matchStats.victoires }}</span>
            <p>Matchs gagnés</p>
        </div>

        <div class="col-sm-4 text-center text-uppercase">
            <span class="points">{{ matchStats.nulls }}</span> pts
            <p>Matchs nulls</p>
        </div>
        <div class="col-sm-4 text-center text-uppercase">
            <span class="points">{{ matchStats.defaites }}</span> pts
            <p>Matchs perdus</p>
        </div>
        <div class="col-sm-4 text-center text-uppercase">
            <span class="points">{{ matchStats.pointsGagne }}</span> pts
            <p>Points gagné</p>
        </div>
        <div class="col-sm-4 text-center text-uppercase">
            <span class="points">{{ matchStats.pointsPerdu }}</span> pts
            <p>Points perdus</p>
        </div>
    </div>

    {% set totalPoints = 0 %}
    <table id="stats" class="tablesorter table table-striped table-hover">
        <thead>
        <tr>
            <th>Joueur</th>
            {% for adversaire, result in (matchStats.joueurRencontreStatsCollection.joueursRencontresStats|first).results %}
                <th>{{ adversaire }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for joueurRencontreStats in matchStats.joueurRencontreStatsCollection.joueursRencontresStats %}
            {% set totalPoints = totalPoints + joueurRencontreStats.joueur.points %}
            <tr>
                <td>
                    <a href="{{ path('adversaire.details', { 'id' : joueurRencontreStats.joueur.licence }) }}">
                        {{ joueurRencontreStats.joueur.nom ~ " " ~  joueurRencontreStats.joueur.prenom ~ " ("~ joueurRencontreStats.joueur.points ~ ")"}}
                    </a>
                </td>
                {% set totalVictoire = 0 %}
                {% set totalMatchs = 0 %}
                {% for adversaire, result in joueurRencontreStats.results %}
                    {% set totalVictoire = totalVictoire + result.victoire %}
                    {% set totalMatchs = totalMatchs + result.victoire + result.defaite %}
                    <td>{{ result.victoire }} /{{ result.victoire + result.defaite }}</td>
                {% endfor %}
                <td>{{ ((totalVictoire * 100) / totalMatchs) |round(0, 'floor') }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-sm-2 text-center text-uppercase">
        <span class="points">{{ (totalPoints / (matchStats.joueurRencontreStatsCollection.joueursRencontresStats | length)) | round(0, 'floor')  }}</span> pts
        <p>Moyenne joueurs</p>
    </div>

{% endblock %}

{% block javascript %}
<script>
$(function() {
    $("#stats").tablesorter();
});
</script>
{% endblock %}