{% extends '@AlFFTT/commun/base.html.twig' %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}
    <h1>Rechercher un club</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Rechercher"
           class="btn btn-default" />
    {{ form_end(form) }}

    {% if clubs  %}
        <div class="row">
            <h1>Clubs :</h1>
            <ul>
                {% for club in clubs %}
                    <li>
                        <a href="{{ path('adversaire.club', { id: club.numero }) }}">
                            {{ club.nom }}
                        </a> <br />
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}