{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ joueur.prenom ~' '~ joueur.nom }}</h1>
        </div>
        <div class="col-sm-12">
            <div id="container"></div>
        </div>
        <div class="col-sm-12">
            <table id="historique" class="tablesorter table table-striped table-hover">
                <thead>
                <tr>
                    <th class="header">Saison</th>
                    <th class="header">Points</th>
                </tr>
                </thead>
                <tbody>
                {% for historique in joueur.historiques %}
                    <tr>
                        <td>{{ historique.anneeDebut }}-{{ historique.anneeFin }} ({{ historique.phase }})</td>
                        <td>{{ historique.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function()
            {
                $("#historique").tablesorter();
            }
        );
    </script>
    <script src="{{ asset("bundles/alfftt/js/highchart.js") }}"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}