{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <h1 class="text-uppercase">Situations mensuelles</h1>
    <table id="table-progression" class="tablesorter table table-striped table-hover">
        <thead>
        <tr>
            <th class="header">Nom / Prénom</th>
            <th class="header">Pts mensuels</th>
            <th class="header">Pts licence</th>
            <th class="header">Prog. mensuelle</th>
            <th class="header">Prog. phase</th>
        </tr>
        </thead>
        <tbody>

        {% for joueur in joueurs %}
            {% if joueur.latestClassement is not null %}
                <tr>
                    <td><a href="{{ path('joueur.details', { id : joueur.id }) }}" >
                            {{ joueur.nom ~' '~ joueur.prenom  }}
                        </a></td>
                    <td>{{ joueur.latestClassement.points | round }}</td>
                    <td>{{ joueur.latestClassement.pointsOfficiels }}</td>
                    <td>
                        {% set progMensuelle =  (joueur.latestClassement.points - joueur.latestClassement.anciensPoints) | round %}
                        {% if progMensuelle > 0 %}
                            <span class="positif">{{ progMensuelle }}</span>
                        {% else %}
                            <span class="negatif">{{ progMensuelle }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% set progAnuelle =  (joueur.latestClassement.points - joueur.latestClassement.pointsOfficiels) | round %}
                        {% if progAnuelle > 0 %}
                            <span class="positif">{{ progAnuelle }}</span>
                        {% else %}
                            <span class="negatif">{{ progAnuelle }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $("#table-progression").tablesorter({
                sortList: [[2, 1]]
            });
        });
    </script>
{% endblock %}