{% block content %}
    {% if parties is not empty %}
        <h2>Rencontres non validées :</h2>

        <table id="partiesNonValide" class="tablesorter table table-striped table-hover">
            <thead>
            <tr>
                <th class="header">Date</th>
                <th class="header">Adversaire</th>
                <th class="header">Classement</th>
                <th class="header">Points virtuels</th>
            </tr>
            </thead>
            <tbody>
            {% for dataPartie in parties %}
                <tr>
                    <td>
                        {% if dataPartie.partie.isVictoire %}
                            <span class="victoire positif">V</span>
                        {% else %}
                            <span class="defaite negatif">D</span>
                        {% endif %}
                        {{ dataPartie.partie.date | date("d/m/Y") }}
                    </td>
                    <td>
                        <a href="{{ path('adversaire.search.choose', { "nom" : dataPartie.partie.adversaireNom, "prenom" : dataPartie.partie.adversairePrenom}) }}">
                            {{ formatPlayerName(dataPartie.partie.adversaireNom, dataPartie.partie.adversairePrenom) }}
                        </a>
                    </td>
                    <td>{{ dataPartie.partie.adversaireClassement }}</td>
                    <td>
                        {% if dataPartie.virtualPoint > 0 %}
                            <span class="positif">{{ dataPartie.virtualPoint }}</span>
                        {% else %}
                            <span class="negatif">{{ dataPartie.virtualPoint }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

