{% extends 'base.html.twig' %}

{% block body %}
    {{ breadcrumbs() }}
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("bundles/alfftt/js/jquery.tablesorter.min.js") }}"></script>
    {% block javascript %}{% endblock %}
{% endblock %}

{% block stylesheets %}
    <style>
        .points{
            font-weight: 700;
            font-size: 2em;
        }

        .positif{
            color: #2ca02c;
        }

        .negatif{
            color: #880000;
        }

        table.tablesorter thead tr .header {
            background-image:  url('data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==');
            background-repeat: no-repeat;
            background-position: center right;
            cursor: pointer;
            padding-right: 20px;
            vertical-align: middle;
        }

        table.tablesorter thead tr .headerSortDown {
            background-image:  url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7');
        }
        table.tablesorter thead tr .headerSortUp {
            background-image:  url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7');
        }
    </style>
{% endblock %}