{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <h1 class="text-uppercase">{{ equipe.libelle }}</h1>
    <table id="classement" class="tablesorter table table-striped table-hover">
        <thead>
        <tr>
            <th class="header">Clt</th>
            <th class="header">Equipe</th>
            <th class="header">Points</th>
            <th class="header">Joués</th>
            <th class="header">PG</th>
            <th class="header">PP</th>
        </tr>
        </thead>
        <tbody>
        {% for classement in classements %}
            <tr>
                <td>{{ classement.classement }}</td>
                <td>
                    {% if classement.nomEquipe in equipe.libelle %}
                        <a href="{{ path('joueur.liste') }}"><strong>{{ classement.nomEquipe }}</strong></a>
                    {% else %}
                        <a href="{{ path('adversaire.club', { 'id' : classement.numero}) }}">{{ classement.nomEquipe }}</a>
                    {% endif %}
                    <a href="{{ path('club.equipe.stats', {'lienDivision': lienDivision, 'equipeNom': classement.nomEquipe}) }}"><i
                                class="glyphicon glyphicon-stats"></i></a>
                </td>
                <td>{{ classement.points }}</td>
                <td>{{ classement.matchJouees }}</td>
                <td>{{ classement.victoires }}</td>
                <td>{{ classement.defaites }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for rencontresByDay in rencontresGrouped %}
        <table class="table text-center">
            <thead>
            <tr>
                <th colspan="4" class="text-uppercase">Journée {{ loop.index }}
                    - {{ rencontresByDay[0].datePrevue | date('d/m/Y') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for rencontre in rencontresByDay %}
                <tr>
                    <td class="col-sm-5">
                        {% if rencontre.nomEquipeA in equipe.libelle %}
                            <strong>{{ rencontre.nomEquipeA }}</strong>
                        {% else %}
                            {{ rencontre.nomEquipeA }}
                        {% endif %}
                    </td>
                    <td class="col-sm-1">
                        {% if rencontre.scoreEquipeA >= rencontre.scoreEquipeB %}
                            <strong>{{ rencontre.scoreEquipeA }}</strong>
                        {% else %}
                            {{ rencontre.scoreEquipeA }}
                        {% endif %}
                        -
                        {% if rencontre.scoreEquipeB >= rencontre.scoreEquipeA %}
                            <strong>{{ rencontre.scoreEquipeB }}</strong>
                        {% else %}
                            {{ rencontre.scoreEquipeB }}
                        {% endif %}
                    </td>
                    <td class="col-sm-5">
                        {% if rencontre.nomEquipeB in equipe.libelle %}
                            <strong>{{ rencontre.nomEquipeB }}</strong>
                        {% else %}
                            {{ rencontre.nomEquipeB }}
                        {% endif %}
                    </td>
                    <td class="col-sm-1">
                        {% if rencontre.clubEquipeB is not null and rencontre.clubEquipeA is not null %}
                            <a href="{{ path('rencontre.details' ,
                                {
                                    id : equipe.id,
                                    lien : rencontre.lien,
                                    clubEquipeA : rencontre.clubEquipeA,
                                    clubEquipeB : rencontre.clubEquipeB
                                }
                            ) }}">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

{% block javascript %}
<script>
$("#classement").tablesorter({
    sortList: [[0, 0], [4, 1]]
});
</script>
{% endblock %}