{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <h1 class="text-uppercase">Liste des équipes</h1>
    <ul>
        {% for equipe in equipes %}
            <li>
                <a href="{{ path('equipe.details', { id : equipe.id }) }}">
                    {{ equipe.libelle }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}