{% macro equipeStats(equipe) %}
    <h2 class="text-center">{{ equipe.nomEquipe }}</h2>
    <table class="table table-condensed">
        {% for joueur in equipe.joueurs %}
            <tr>
                <td>{{ joueur.name }}</td>
                <td>
                    {% for isWin in joueur.result %}
                        {% if isWin %}
                            <span class="match-result match-win"></span>
                        {% else %}
                            <span class="match-result match-lose"></span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ ((joueur.win / (joueur.win + joueur.lose)) * 100 ) |round(2, 'floor')}}%
                </td>
            </tr>
        {% endfor %}
    </table>

{% endmacro %}