{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="text-right">
        <a href="{{ path(
            app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')|merge({'reload': 'true'})
        ) }}"><i class="glyphicon glyphicon-refresh"></i></a>
    </div>
    <div class="row text-center">
        <div class="col-sm-4 points">{{ rencontre.nomEquipeA }}</div>
        <div class="col-sm-4 points">{{ rencontre.scoreEquipeA }} - {{ rencontre.scoreEquipeB }}</div>
        <div class="col-sm-4 points">{{ rencontre.nomEquipeB }}</div>
    </div>

    <h2 class="text-uppercase">Joueurs</h2>

    <table class="table">
        <tbody>
        {% set sumA = 0 %}
        {% set sumB = 0 %}
        {% for joueur in rencontre.joueursA %}
            {% set sumA = sumA + joueur.points %}
            {% set sumB = sumB + rencontre.joueursB[loop.index0].points %}
            <tr>
                <td>
                    {% if joueur.licence %}
                        <a href="{{ path('adversaire.details', { 'id' : joueur.licence }) }}">
                            {{ formatPlayerName(joueur.nom, joueur.prenom) }}
                        </a>
                    {% else %}
                        {{ formatPlayerName(joueur.nom, joueur.prenom) }}
                    {% endif %}
                </td>
                <td>{{ joueur.sexe }}</td>
                <td>{{ joueur.points }}</td>
                <td>
                    {% if rencontre.joueursB[loop.index0].licence %}
                        <a href="{{ path('adversaire.details', { 'id' : rencontre.joueursB[loop.index0].licence }) }}">
                            {{ formatPlayerName(rencontre.joueursB[loop.index0].nom, rencontre.joueursB[loop.index0].prenom) }}
                        </a>
                    {% else %}
                        {{ formatPlayerName(rencontre.joueursB[loop.index0].nom, rencontre.joueursB[loop.index0].prenom) }}
                    {% endif %}
                </td>
                <td>{{ rencontre.joueursB[loop.index0].sexe }}</td>
                <td>{{ rencontre.joueursB[loop.index0].points }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2" class="text-right">Total</td>
            <td>{{ sumA }}</td>
            <td colspan="2" class="text-right">Total</td>
            <td>{{ sumB }}</td>
        </tr>
        </tbody>
    </table>

    <h2 class="text-uppercase">Parties</h2>
    <table class="table text-center">
        <tbody>
        {% for partie in rencontre.parties %}
            <tr>
                {% if partie.scoreA != 0 %}
                    <td><strong>{{ partie.adversaireA }}</strong></td>
                    <td><strong>{{ partie.scoreA }}</strong></td>
                {% else %}
                    <td>{{ partie.adversaireA }}</td>
                    <td>{{ partie.scoreA }}</td>
                {% endif %}

                {% if partie.scoreB != 0 %}
                    <td><strong>{{ partie.scoreB }}</strong></td>
                    <td><strong>{{ partie.adversaireB }}</strong></td>
                {% else %}
                    <td>{{ partie.scoreB }}</td>
                    <td>{{ partie.adversaireB }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>{{ rencontre.nomEquipeA }}</td>
            <td>{{ rencontre.scoreEquipeA }}</td>
            <td>{{ rencontre.scoreEquipeB }}</td>
            <td>{{ rencontre.nomEquipeB }}</td>
        </tr>
        </tfoot>
    </table>

    {% import '@AlFFTT/Equipes/rencontre-stats.html.twig' as rencontreStats %}
    <div class="row">
        <div class="col-sm-6">
            {{ rencontreStats.equipeStats(stats.equipeA) }}
        </div>

        <div class="col-sm-6">
            {{ rencontreStats.equipeStats(stats.equipeB) }}
        </div>
        <div class="col-sm-4">Score théorique (sans doubles) : <span class="points">{{ rencontre.expectedScoreEquipeA }} - {{ rencontre.expectedScoreEquipeB }}</span></div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .match-result {
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 50%;
        }

        .match-win {
            background-color: #2ca02c;
        }

        .match-lose {
            background-color: crimson;
        }
    </style>
{% endblock %}
